<!----------------------------------------------------------------------------------------
    ЭТО СООБЩЕНИЕ ЯВЛЯЕТСЯ ЗАМЕТКОЙ И НЕ ОТПРАВЛЯЕТСЯ БОТОМ
Для добавления жирного текста, поставьте нужную часть в <b></b> теги
Для добавления курсивного текста, поставьте нужную часть в <i></i> теги
Для добавления подчеркнутого текста, поставьте нужную часть в <u></u> теги
Для добавления зачеркнутого текста, поставьте нужную часть в <del></del> теги
Для добавления ссылки к тексту, поставьте нужную часть в <a href="Тут будет ссылка"></a> теги и напишите нужную ссылку в href="" между скобок
Можно добавить несколько тегов сразу, добавив один тег в другой, к примеру <i><b><a href=""></a></b></i>
Отступы тоже будут видны, так что если они не нужны то просто не ставить

Те теги с названиями вроде <id></id> или <trend></trend> и <body></body> а так же <p></p> после него не удалять
Они используются программой для распределения данных
Между тегами <p></p> можно делать любые изменения

---------------------------------------------------------------------------------------->
<body>
    <p>
        <changed></changed>
    ID: <channel_id></channel_id>   <channel_name></channel_name>
    
    ⬆️ Trend: <trend></trend>
    
    ▫️ Margin:  <margin></margin>
    
    🚀 Leverage:  <leverage></leverage>
    
    💵 COIN: <coin></coin>
    
    📊 Entry:           <entry></entry>
    
    ✅ Target:
                        <tp></tp>
                    
    ❌ Stop: <stop></stop>
    </p>
</body>